body {
    background-color: rgb(207, 216, 214);
    font-family: Arial, Helvetica, sans-serif;
}

.h1{
    color: rgb(26, 212, 88);
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: antiquewhite;
}
.subtext{
    color: rgb(138, 138, 24);
}

.p{
    font-size: 18px;
    color: blue;
}

p {
    color: rgb(255, 0, 0);
    font-size: large;
}

.destaque {
    color: rgb(56, 124, 62);
    background-color: aquamarine;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}