@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  *{
    font-family: 'Roboto', sans-serif;
  }

  body{
    background-image:linear-gradient(to right, #BFBFBF, #10403B);
  }

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(8, 34, 31, 0.575);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #127369;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(25, 43, 10, 0.644)
}

h2{
    color: #8AA6A3;
}

h3{
    color: #4C5958;
}

  p{
    text-align: justify;
  }